
*{
    box-sizing: border-box;
}
p{
    font-family: Baskerville,"Baskerville Old Face","Hoefler Text",Garamond,"Times New Roman",serif;
}
h1{
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
h3{
    font-family: Copperplate,"Copperplate Gothic Light",fantasy;
    color:#ea1261;
}
h3 a{
    color:#ea1261;
}
span.stylefont{
    font-family: 'Niconne', cursive;
    
    color:#ea1261;
    font-size:1.5em;
}
.header{
    text-align: center;
    color:#ea1261;
    background: url('../img/bg-3lines.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 90%;
    padding: 4em 0;
    margin-bottom:2em;
}
/*Logo*/
img{
    margin:1.5em auto 1em;
}
/*Navigation*/
nav{
    padding:1.5em 0;
}
nav ul{
    list-style-type: none;
    text-align:left;
    
}
nav ul li:not(#pull){
    display: none;
}
nav ul #pull{
    display: block;
    width:100%;
    position: relative;
    padding-bottom: 1em;
}
#pull img{
    position: absolute;
    top:-2em;
    right: 50%;
    width: 30px;
    height: 30px;
}
/*nav #pull::after{
    content: "";
    background: url("../img/nav-icon.png") no-repeat;
    position: absolute;
    right: 50%;
    top: -2em;
    width:30px;
    height:30px;
}*/
nav ul li{
    padding-right:1em;  
    padding-bottom: 1em;
    display: block;
}
nav li a {
    text-decoration:none;
    font-weight:500;
    color:#ea1261;
}
nav li a.on{
    text-decoration: underline;
}
nav li a:hover{
    font-weight: 700;
    text-shadow: 5px 5px 8px grey;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

form#search{margin: 50px auto;}
form#search input[type="submit"]{
    padding: 7px 0 7px;
    width:3em;
}

/*Main Content*/

.main-content{
    line-height: 1.5em;
    font-size: 1.3em;
}
.container{
    width:90%;
    margin: 0 auto;
    padding: 0 2em;
    color:#5e686d;
    /*background-color: pink;*/
}
/*.section1 .container{
    background: url('../img/bg-3lines.png');
    background-repeat: no-repeat;
    background-size:cover;
    color:#b5a8ab;
    /*background-color: blue;
}*/
.section1 h3:first-child{
    padding-top:2em;
}
.section1 p:last-child{
    padding-bottom: 2em;
}
/*.section1 .container{
    border-bottom:1px solid #5e686d;
}*/
.col3{
    display: none;
}
.col2{
    text-align: left;
}
img{
    max-width:100%;
    border-radius:5%;
}
/*Section2*/
.section2 h2{
    text-align: center;
}
ul.items{
    list-style-type: none;
}
ul.items li{
    text-align: center;
}
ul.items a{
    text-decoration:none;
    color: #5e686d;
}
ul.items a:hover{
    font-weight:bold;
    text-shadow: 5px 5px 8px grey;
}

/*Display page div*/
div.details table{
    width:100%;
    color:#5e686d;
}
div.details td,div.details th{
    width:50%;
    text-align: left;
}
div.details tr{
    border-bottom:1px solid gray;
}
div.details tr{
    height:3.5em;
}
#disclaimer{
    font-size:.8em;
    font-style: italic;
    line-height: 1.5em;
    color:#595F62;
}
.details-img{
    width: 100%;
    padding:10px;
    border: 1px solid lightgrey;
    box-shadow: 5px 4px 5px gray;
}
#display_name{
    /*background-color: darkred;*/
    background-color: #ea1261;
    color: papayawhip;   
    width:90%;
    margin:0 auto;   
    padding-left: 2em;
    padding-top:.1em;
    padding-bottom:.1em;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}
#display_name span{
    font-weight: 600;
    font-size:1.5em;
    color: papayawhip;  
}
.breadcrumbs{
    padding-top:1em;
    padding-left: 10px;
}
.breadcrumbs a, .breadcrumbs{
    text-decoration: none;
    font-size: .9em;
}

/* Suggest - Form */
input[type=submit]{
padding:5px;
}
input[type=text]{
padding: 8px;
}
/*form {width: 475px; margin: 34px auto;  overflow-x: auto;}*/
form {max-width:100%; width: 100%; margin: 34px auto; overflow-x: auto;}

form tr {text-align:left;}
form table {max-width:100%;     width: 100%; margin-bottom: 16px;}
/*form table {width: 475px; margin-bottom: 16px;}*/
form th {
    width: 150px;
    vertical-align: middle;
    padding: 8px;
}
form td {
    padding: 15px 15px;
}
form td select,
form td input,
form td textarea {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #a5a5a5;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
form input[type="submit"] {
    /*width: 230px;*/
    width:100%;
    text-align: center;
    border: 0;
    background-color: #ea1261;
    /*background: #3888c2;*/
    color: #FFF;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    /*padding: 7px 0 7px;*/
    padding: 14px 0 16px;
    font-family: 'Open Sans', sans-serif;
    margin:0 auto;
    text-align: center;
}
  form input[type="submit"]:hover {
    
    cursor: pointer;
  }
 

/*Suggest*/
p.message{
    background: #ffeca4;
    border: 1px solid #f16702;
    padding: 1em;
    width: 444px;
    margin:2em auto;
}
p.suggest{
    margin:0 auto;
    font-weight: 500;
    width:444px;
}


/*Footer*/
.footer{
    margin-top: 1.5em;
}
.footer ul{
    list-style-type: none;
   
}
.footer ul li{
    padding: .4em 1em .4em 0;
}
.footer li a{
    width: 100%;
    text-decoration: none;   
}
.footer p{
    line-height: 1.4em;
    color: #5e686d;
    font-size: .8em;
}
.footer .container{
    border-top:1px solid #ea1261;
    padding-top: 1.5em;
}


@media screen and (min-width:769px){
    
    /*For tablets and laptops*/
    nav ul{
        display: block;
        list-style-type: none;
        text-align: center;
        
    }
    nav ul li:not(#pull){
        display: inline-block;
    }
    nav ul li{
        display:inline-block;
        padding-right:1em;  
    }
    nav ul li#pull{
        display: none;
    }
    nav li a {
        text-decoration:none;
        font-weight:600;
        color:#ea1261;
    }
    nav li a:hover{
        font-weight:700;        
    }
    /*Main-Content*/
    .col3{
        display: block;
    }
    .col1, .col2, .col3{
        float:left;
        width:33%;
        padding:0 .8em;
    }
    .container{
        width:80%;
        margin:0 auto;
        /*background-color: pink;*/
    }
    /*Section-2*/
    ul.items{
        list-style-type: none;
    }
    ul.items li{
        display: inline-block;
        float: left;
        width:33.33%; 
    }

    /*Display page div*/
    div.details{
        display: inline-block;
        float:left;
    }
    .details-img{
        width: 100%;
        padding:10px;
        border: 1px solid lightgrey;
    }
    div.imgcol{
        width:50%;
        padding-right: 1em;
    }
    div.desccol{
        width:50%;
        padding-left: 1em;
        padding-top:2%;
    }
    #display_name{
        width:80%;
    }
    #display_name span{
        font-size:1.8em;
    }

     /*Suggest*/
     form {width: 475px; margin: 34px auto;  overflow-x: auto;}
     form input[type="submit"]{
         width: 100%;
         /*width:475px;*/
         text-align: center;
         margin:0 auto;
     }
    /*Footer*/
    
    .footer ul{
        padding-top: 2em;
        padding-bottom: 2em;
        list-style-type: none;
        margin: 2em auto;
        padding-left:20%;
        padding-right: 20%;
    }
   
    .footer ul li{
        padding: 0;
        padding-right:1.5em;
        display: inline-block;
       
    }
    .footer a{
        color: darkgoldenrod;
        text-decoration: none;
    }
    .footer p{
    line-height: .8em;
    color: #5e686d;
    font-size: .8em;
    
}
}